{% extends "email_modern/base.html" %}
{% block content %}
<h2 style="color:#3498DB;">Réinitialisation de votre mot de passe</h2>
<p>Bonjour {{ first_name }},</p>
<p>Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le bouton ci-dessous pour créer un nouveau mot de passe :</p>
<p style="text-align:center;">
  <a href="{{ reset_url }}" class="button">Réinitialiser le mot de passe</a>
</p>
<p>Ce lien est valable pendant <b>{{ expiry_minutes }} minutes</b>.</p>
<p>Si vous n'avez pas demandé cette réinitialisation, ignorez cet email.</p>
{% endblock %}
